__pycache__/                                                                                                           
*.py[cod]                                                                                                              
*.pyo                                                                                                                  
*.pyd                                                                                                                  
env/                                                                                                                   
venv/                                                                                                                  
ENV/                                                                                                                   
.venv/                                                                                                                 
*.egg-info/                                                                                                            
dist/                                                                                                                  
build/                                                                                                                 
*.log                                                                                                                  
*.sqlite3                                                                                                              
*.db                                                                                                                   
*.egg                                                                                                                  
*.whl                                                                                                                  
*.mypy_cache/                                                                                                          
*.pytest_cache/                                                                                                        
*.coverage                                                                                                             
.coverage.*                                                                                                            
.env
uv.lock